body {
    background-color: #000;
    padding: 0;
    margin: 0;
    font-size: 16pt;
    font-family: 'Georgia';
}

input, select  {
    font-family: inherit;
    font-size: 150%;
    padding: 5px;
}

/* slideshow  */

#slideshow {
    text-align: center;
    margin: 0 auto;
    position: relative;
    max-width: 100%;
    height: 99vh;
    padding: 0px;
    overflow: hidden;
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

img {
    width: 100%;
    max-width: 100%;
}


/* admin section */
.thumbnail {
    position: relative;
    text-align: center;
}

.thumbnail > img {
    width: 300px;
    padding: 20px 0 20px 0;
    border-bottom: solid 2px #000;
    cursor: pointer;
}

.thumbnail > p {
    background-color: orangered;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(100%, -50%);
    padding: 20px;
    opacity: 0;
    border-radius: 10px;
}

/* when hovering over the image, show the sibling <p> */
.thumbnail > img:hover ~ p {
    opacity: .7;
    transition: all .5s;
}

.thumbnail > img:hover {
    filter: grayscale(90%);
}

.selectActiveFolder {
    padding: 20px;
    font-size: 200%;
    border: none;
    width: 100%;
    margin-bottom: 40px;
}

.btn-logout {
    font-family: inherit;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-logout:hover {
    color: #fff;
    background-color: rgb(99, 7, 7);
}

.weather {
    font-size: 200%;
    position: absolute;
    text-align: right;
    bottom: 50px;
    right: 50px;
    z-index: 50;
}
